<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaporwave it!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href={{ url_for('static', filename='css/global.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/player.css') }}>
    <script defer src={{ url_for('static', filename='js/player.js') }}></script>

</head>
<body>
    <div class="controls">
        <div class="slider-container">
            <input class="lowpass_slider" type="range" min="1" max="100" value="0" />
            <p class="effect-title">Low-pass</p>
        </div>
        <div class="slider-container">
            <input class="playback_slider" type="range" min="50" max="100" value="100" />
            <p class="effect-title">Playback Speed</p>
        </div>
        {% include "partials/player.html" %}
    </div>

    <script>
        let lowpass_slider = document.querySelector(".lowpass_slider")
        let playback_slider = document.querySelector(".playback_slider")
        lowpass_slider.oninput = (e) => {
            if (context == undefined || context.state == "closed") {
                return;
            }

            ws.send(JSON.stringify({
                commands: ["UPDATE_FILTER"],
                value: e.target.value,
            }))
        }
        playback_slider.oninput = (e) => {
            if (context == undefined || context.state == "closed") {
                return;
            }

            ws.send(JSON.stringify({
                commands: ["UPDATE_SPEED"],
                value: e.target.value,
            }))
        }
    </script>
</body>
</html>
