.player {
    height: 45px;
    width: 90%;
    margin-bottom: 25px;
    display: flex;
    padding: 0 2.5rem;
    border-radius: 50px;
    background: #C1DFEB;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px #888888;
}


.player {
    flex-direction: column;
    height: unset;
    padding: 15px;
    border-radius: 7px;
}

.player-controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stop-play-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.player .playback-tg,
.player .stopbtn {
    color: #2D728F;
    cursor: pointer;
}

.player .playback-tg.gray,
.player .stopbtn.gray {
    color: #6ba7c1;
    cursor: unset;
}

.player .playback-tg::before {
    font-size: 2.5rem;
}

.player .stopbtn::before {
    font-size: 1.5rem;
}

.player .timer {
    font-family: Helvetica;
    color: #0B132B;
    font-size: 13px;
    margin: 0 1rem;
}

.track {
    height: 3px;
    flex-grow: 1;
    border-radius: 25px;
    background: #A8BAC2;
}


.track {
    width: 100%;
    height: 5px;
    flex-grow: 0;
    margin-top: 15px;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: #2D728F;
    transition: width 0.1s linear;
    border-radius: 3px;
}

.slider-container {
    width: 90%;
}

.slider {
    height: 10%;
    width: 100%;
}

.slider-container {
    margin: 25px 0px;
}

.effect-title {
    margin-top: 5px;
    font-family: Arial;
    font-style: italic;
    color: #0B132B;
    font-size: 14px;
}

.controls {
    background-color: #56A8C8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    border-radius: 7px;
    position: absolute;
}