.player {
    height: 54px;
    width: 300px;
    display: flex;
    padding: 20px;
    border-radius: 50px;
    background: #f1f3f4;
    align-items: center;
    justify-content: space-between;
}

.player .playback-tg,
.player .stopbtn {
    color: #000;
    cursor: pointer;
}

.player .playback-tg.gray,
.player .stopbtn.gray {
    color: #a9abab;
    cursor: unset;
}

.player .playback-tg::before,
.player .stopbtn::before {
    font-size: 20px;
}

.player .timer {
    font-size: 13px;
}

.track {
    height: 3px;
    width: 140px;
    border-radius: 25px;
    background: #dbdbdb;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: #a9abab;
    transition: width 0.1s linear;
}