.player {
    height: 45px;
    width: 100%;
    display: flex;
    padding: 0 2.5rem;
    border-radius: 50px;
    background: #f1f3f4;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px #888888;
}

.player-controls {
    width: 175px;
    display: flex;
    align-items: center;
}

.player .playback-tg,
.player .stopbtn {
    color: #000;
    cursor: pointer;
}

.player .playback-tg.gray,
.player .stopbtn.gray {
    color: #a9abab;
    cursor: unset;
}

.player .playback-tg::before {
    font-size: 2.5rem;
}

.player .stopbtn::before {
    font-size: 1.5rem;
}

.player .timer {
    font-size: 13px;
    margin: 0 1rem;
}

.track {
    height: 3px;
    flex-grow: 1;
    border-radius: 25px;
    background: #dbdbdb;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: #a9abab;
    transition: width 0.1s linear;
}