<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaporwave it!</title>
</head>
<body>
    <script>
        const ws = new WebSocket("ws://localhost:5000/stream")
        ws.binaryType = "arraybuffer"

        let context
        let init = 0
        let nextTime = 0
        let audioStack = []

        try{
            window.AudioContext = window.AudioContext || window.webkitAudioContext
        }catch(e) {
            alert('Web Audio API is not supported in this browser')
        }

        // begin recieving audio chunks over websockets
        function stream(source, buffer_size = 10) {

            // reset varuables
            init, nextTime = 0, 0

            // create audio context
            context = new AudioContext()

            // initially send information to the server to fetch the audio stream 
            ws.send(JSON.stringify({
                source: source
            }))

            // handle the incomming audio data
            ws.onmessage = message => {
                if (!message.data instanceof ArrayBuffer) {
                    return
                }

                context.decodeAudioData(message.data, buffer => {
                    audioStack.push(buffer)
                    if ((init!=0) || (audioStack.length > buffer_size)) {
                        init++
                        playBuffer()
                    }
                })
            }
        }

        // begin playing audio from buffer
        function playBuffer() {
            while (audioStack.length) {
                let buffer = audioStack.shift()
                let source = context.createBufferSource()
                source.buffer =  buffer
                source.connect(context.destination)
                if (nextTime == 0) 
                    nextTime = context.currentTime + 0.05

                source.start(nextTime);
                nextTime+=source.buffer.duration
            }
        }

        // stoppes playback
        function stop() {
            if (context == undefined || context.state == "closed") {
                return
            }

            context.close()
            audioStack = []
            init, nextTime = 0, 0
            ws.send(JSON.stringify({
                command: "STOP"
            }))
        }
    </script>
</body>
</html>