<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaporwave it!</title>
</head>
<body>
    <script>
        const protocol = location.protocol == "http:" ? "ws" : "wss"
        const ws = new WebSocket(`${protocol}://localhost:5000/stream`)
        ws.binaryType = "arraybuffer"

        let context
        let init = 0
        let nextTime = 0
        let audioStack = []

        // information about current track
        let nchannels = 0
        let sampwidth = 0
        let framerate = 0
        let frames = 0
        let comptype = ""
        let compname = ""
        let duration = { hours: 0, minuets: 0, seconds: 0 }

        try{
            window.AudioContext = window.AudioContext || window.webkitAudioContext
        }catch(e) {
            alert('Web Audio API is not supported in this browser')
        }

        // handle the incomming audio data
        ws.onmessage = message => {
            if (message.data instanceof ArrayBuffer) {
                context.decodeAudioData(message.data, buffer => {
                    // console.log(buffer.duration)
                    audioStack.push(buffer)
                    if ((init!=0) || (audioStack.length > 2)) {
                        init++
                        playBuffer()
                    }
                })

                return
            }

            data = JSON.parse(message.data)
            cmdUsed = data.command
            switch (cmdUsed) {
                case "GET":
                    nchannels = data.nchannels
                    sampwidth = data.sampwidth
                    framerate = data.framerate
                    comptype = data.comptype
                    compname = data.compname
                    duration = data.duration
                    frames = data.frames
                break
            }
        }

        // begin recieving audio chunks over websockets
        function stream(source = "example.wav") {

            // reset varuables
            [init, nextTime] = [0, 0]

            // create audio context
            context = new AudioContext()

            // initially send information to the server to fetch the audio stream 
            ws.send(JSON.stringify({
                source: source,
                commands: ["STREAM", "GET"]
            }))
        }

        // begin playing audio from buffer
        function playBuffer() {
            while (audioStack.length) {
                let buffer = audioStack.shift()
                let source = context.createBufferSource()
                source.buffer =  buffer
                source.connect(context.destination)
                if (nextTime == 0) 
                    nextTime = context.currentTime + 0.05

                source.start(nextTime);
                nextTime+=source.buffer.duration
            }
        }

        // stops playback
        function stop() {
            if (context == undefined || context.state == "closed") {
                return
            }

            context.close()
            [init, nextTime] = [0, 0]
            ws.send(JSON.stringify({
                commands: ["STOP"]
            }))
        }
    </script>
</body>
</html>